$T-w:200px;
$T-d:justify;
$color:black;
$bg:tomato;
$padding:40px;
$border:50px;


p{
 width: $T-w;
 text-align:$T-d;
 color: $color;
 background-color: $bg;
 padding:$padding;
 border-radius:$border;
 
}
.para{
    margin-top:25px;
}