$primary-color:tomato;
$font-family: Helvetica, sans-serif;
$text-decoration: none;

@mixin fix-btn{
    
    color: rgb(36, 34, 34);
    border-radius: 12px; 
    border-radius:20px;
    background-color: rgb(255, 181, 181);
    height:40px;
    width:90px;
    padding:0 20px;
    

}

@import "btn.scss";



.nav__item {
   
    font-family: $font-family;
    gap:10px; 
    display: flex;
    justify-content: center;
    margin: 0 auto;
   

    .nav__item--link {
        text-decoration: $text-decoration;
        color: $primary-color;
        margin-top: 10px;
        text-align: center;
    }    
}
.para__item{
    display: flex;
    gap:20px;
    justify-content: center;
    margin-top:10px;
}
.btn__item{
    @include fix-btn;
    font-family: $font-family;
}
.btn__item2{
     @include fix-btn(red);
    font-family: $font-family;
}
