$primary-color:tomato;
$font-family: Helvetica, sans-serif;
$text-decoration: none;

@mixin fix-btn{
    padding:3px;
    border-radius:2px

}

@import "btn.scss";



.nav__item {
   
    font-family: $font-family;
    gap:10px; 
    display: flex;
    justify-content: center;
    margin: 0 auto;
   

    .nav__item--link {
        text-decoration: $text-decoration;
        color: $primary-color;
        margin-top: 10px;
        text-align: center;
    }
    
}
.para__item{
    display: flex;
    gap:20px;
    justify-content: center;
    margin-top:10px;
}
